# To create a database with Education and Incarceration Data

In [1]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine

## Read in the Incarceration Data

In [2]:
crime = pd.read_csv('../Data/incarceration_data/ucr_by_state.csv')
prisoners_in_custody = pd.read_csv('../Data/incarceration_data/prison_custody_by_state.csv')
incarceration = pd.read_csv('../Data/incarceration_data/crime_and_incarceration_by_state.csv')

#### Preview Incarceration CSVs

In [3]:
display('Crime Rates by Crime Type State and Year')
display(crime.head(10))
display(crime.columns)

display('In Custody Counts by State and Year')
display(prisoners_in_custody.head(10))
display(prisoners_in_custody.columns)

display('In Custody Counts, Crime Rates by Type, By State and Year')
display(incarceration.head(10))
display(incarceration.columns)

'Crime Rates by Crime Type State and Year'

,jurisdiction,year,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,Alaska,2001,0,0,"633,630","3,735",39,501,NaN,514,"2,681","23,160","3,847","16,695","2,618"
1,Alaska,2002,0,0,"641,482","3,627",33,511,NaN,489,"2,594","24,118","3,908","17,739","2,471"
2,Alaska,2003,0,0,"648,280","3,877",39,605,NaN,446,"2,787","24,386","3,874","18,051","2,461"
3,Alaska,2004,0,0,"657,755","4,159",37,558,NaN,447,"3,117","22,172","3,773","16,159","2,240"
4,Alaska,2005,0,0,"663,253","4,194",32,538,NaN,537,"3,087","23,975","4,131","17,249","2,595"
5,Alaska,2006,0,0,"670,053","4,610",36,512,NaN,600,"3,462","23,975","4,155","17,284","2,536"
6,Alaska,2007,0,0,"683,478","4,520",43,545,NaN,581,"3,351","23,096","3,734","16,929","2,433"
7,Alaska,2008,0,0,"686,293","4,475",27,447,NaN,645,"3,356","20,090","3,237","15,225","1,628"
8,Alaska,2009,0,0,"698,473","4,424",22,513,NaN,654,"3,235","20,538","3,600","15,251","1,687"
9,Alaska,2010,0,0,"714,146","4,537",31,533,NaN,594,"3,379","20,259","3,105","15,535","1,619"

Index(['jurisdiction', 'year', 'crime_reporting_change', 'crimes_estimated',
       'state_population', 'violent_crime_total', 'murder_manslaughter',
       'rape_legacy', 'rape_revised', 'robbery', 'agg_assault',
       'property_crime_total', 'burglary', 'larceny', 'vehicle_theft'],
      dtype='object')

'In Custody Counts by State and Year'

,jurisdiction,includes_jails,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Federal,0,"149,852","158,216","168,144","177,600","186,364","190,844","197,285","198,414","205,087","206,968","214,774","216,915","214,989","209,561","195,622","188,311"
1,Alabama,0,"24,741","25,100","27,614","25,635","24,315","24,103","25,253","25,363","27,241","27,345","26,813","26,768","26,825","26,145","25,212","23,745"
2,Alaska,1,"4,570","4,351","4,472","4,534","4,798","5,052","5,151","4,997","5,472","5,369","6,216","6,308","5,081","6,323","5,247","4,378"
3,Arizona,0,"27,710","29,359","31,084","32,384","33,345","35,752","37,700","39,455","40,544","40,130","39,949","40,013","41,031","42,136","42,204","42,248"
4,Arkansas,0,"11,489","11,849","12,068","12,577","12,455","12,854","13,275","13,135","13,338","14,192","14,090","14,043","14,295","15,250","15,784","15,833"
5,California,0,"157,142","159,695","161,785","163,939","168,035","172,298","171,444","171,085","168,830","162,821","147,578","132,935","134,339","134,430","127,815","129,416"
6,Colorado,0,"17,278","18,636","19,450","19,655","21,063","22,051","22,666","23,211","22,725","22,752","21,862","20,328","20,184","20,469","19,959","19,486"
7,Connecticut,1,"17,507","18,716","18,023","17,993","17,928","18,902","19,438","19,905","18,938","18,629","17,877","17,164","17,319","16,814","16,024","15,040"
8,Delaware,1,"6,841","6,637","6,630","6,753","6,788","7,021","7,110","6,944","6,581","6,378","6,546","6,730","6,798","6,730","6,437","6,334"
9,Florida,0,"72,404","75,210","79,594","83,165","86,559","90,377","95,187","99,878","101,373","102,070","100,861","99,835","100,940","100,873","99,485","98,010"

Index(['jurisdiction', 'includes_jails', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

'In Custody Counts, Crime Rates by Type, By State and Year'

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,FEDERAL,False,2001,149852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,False,2001,24741,False,False,4468912.0,19582.0,379.0,1369.0,NaN,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0
2,ALASKA,True,2001,4570,False,False,633630.0,3735.0,39.0,501.0,NaN,514.0,2681.0,23160.0,3847.0,16695.0,2618.0
3,ARIZONA,False,2001,27710,False,False,5306966.0,28675.0,400.0,1518.0,NaN,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0
4,ARKANSAS,False,2001,11489,False,False,2694698.0,12190.0,148.0,892.0,NaN,2181.0,8969.0,99106.0,22196.0,69590.0,7320.0
5,CALIFORNIA,False,2001,157142,False,False,34600463.0,212867.0,2206.0,9960.0,NaN,64614.0,136087.0,1134189.0,232273.0,697739.0,204177.0
6,COLORADO,False,2001,17278,False,False,4430989.0,15492.0,158.0,1930.0,NaN,3555.0,9849.0,170887.0,28533.0,121360.0,20994.0
7,CONNECTICUT,True,2001,17507,False,False,3434602.0,11492.0,105.0,639.0,NaN,4183.0,6565.0,95299.0,17159.0,65762.0,12378.0
8,DELAWARE,True,2001,6841,False,False,796599.0,4868.0,23.0,420.0,NaN,1156.0,3269.0,27399.0,5144.0,19476.0,2779.0
9,FLORIDA,False,2001,72404,False,False,16373330.0,130713.0,874.0,6641.0,NaN,32867.0,90331.0,782517.0,176052.0,516548.0,89917.0

Index(['jurisdiction', 'includes_jails', 'year', 'prisoner_count',
       'crime_reporting_change', 'crimes_estimated', 'state_population',
       'violent_crime_total', 'murder_manslaughter', 'rape_legacy',
       'rape_revised', 'robbery', 'agg_assault', 'property_crime_total',
       'burglary', 'larceny', 'vehicle_theft'],
      dtype='object')

#### Drop Columns that will be excluded from report (exclude Federal)

In [4]:
incarceration_trim = incarceration.drop(columns=['includes_jails','crime_reporting_change','crimes_estimated',
                                        'murder_manslaughter', 'rape_legacy', 'rape_revised',
                                        'robbery', 'agg_assault', 'burglary', 'larceny', 'vehicle_theft'])

incarceration_df = incarceration_trim.loc[incarceration_trim['jurisdiction'] != 'FEDERAL']
incarceration_format = incarceration_df.rename(columns={'jurisdiction': 'state'})
incarceration_format.columns = map(str.upper, incarceration_format.columns)
incarceration_format.head()

,STATE,YEAR,PRISONER_COUNT,STATE_POPULATION,VIOLENT_CRIME_TOTAL,PROPERTY_CRIME_TOTAL
1,ALABAMA,2001,24741,4468912.0,19582.0,173253.0
2,ALASKA,2001,4570,633630.0,3735.0,23160.0
3,ARIZONA,2001,27710,5306966.0,28675.0,293874.0
4,ARKANSAS,2001,11489,2694698.0,12190.0,99106.0
5,CALIFORNIA,2001,157142,34600463.0,212867.0,1134189.0

#### Estimate Missing NY Incarceration values to repair 2015 NaN

In [5]:
incarceration_ny_fix = incarceration_format[incarceration_format['STATE'] == 'NEW YORK']
ny_14 = incarceration_ny_fix[(incarceration_ny_fix.STATE == 'NEW YORK') & (incarceration_ny_fix.YEAR == 2014)]
ny_16 = incarceration_ny_fix[(incarceration_ny_fix.STATE == 'NEW YORK') & (incarceration_ny_fix.YEAR == 2016)]

ny_15_state_pop = (ny_14.iloc[0]['STATE_POPULATION'].astype(int) 
                   + ny_16.iloc[0]['STATE_POPULATION'].astype(int))/2
                        
ny_15_vc_tot = (ny_14.iloc[0]['VIOLENT_CRIME_TOTAL'].astype(int) + 
                ny_16.iloc[0]['VIOLENT_CRIME_TOTAL'].astype(int))/2
                      
ny_15_pc_tot = (ny_14.iloc[0]['PROPERTY_CRIME_TOTAL'].astype(int) + ny_16.iloc[0]['PROPERTY_CRIME_TOTAL'].astype(int))/2
print(ny_15_state_pop, ny_15_vc_tot, ny_15_pc_tot)

19791256.5 74856.5 322253.0

#### Update NY Incarceration NaNs to estimated values  //  Check Repair

In [6]:
values = {'STATE_POPULATION': ny_15_state_pop, 
            'VIOLENT_CRIME_TOTAL': ny_15_vc_tot, 
            'PROPERTY_CRIME_TOTAL': ny_15_pc_tot
            }
incarceration_format.fillna(value=values, inplace=True)

display(incarceration_format.head())

ny_edit_check = round(incarceration_format[(incarceration_format.STATE == 'NEW YORK') & 
                                                  (incarceration_format.YEAR == 2015)],0)
display(ny_edit_check)

,STATE,YEAR,PRISONER_COUNT,STATE_POPULATION,VIOLENT_CRIME_TOTAL,PROPERTY_CRIME_TOTAL
1,ALABAMA,2001,24741,4468912.0,19582.0,173253.0
2,ALASKA,2001,4570,633630.0,3735.0,23160.0
3,ARIZONA,2001,27710,5306966.0,28675.0,293874.0
4,ARKANSAS,2001,11489,2694698.0,12190.0,99106.0
5,CALIFORNIA,2001,157142,34600463.0,212867.0,1134189.0

,STATE,YEAR,PRISONER_COUNT,STATE_POPULATION,VIOLENT_CRIME_TOTAL,PROPERTY_CRIME_TOTAL
746,NEW YORK,2015,51485,19791256.0,74856.0,322253.0

#### Export cleaned Incarceration Data for Snapshot // Preview Dataframe

In [7]:
incarceration_report = round(incarceration_format,0)
incarceration_report.to_csv('../Reports/incarceration_report.csv')
incarceration_report

,STATE,YEAR,PRISONER_COUNT,STATE_POPULATION,VIOLENT_CRIME_TOTAL,PROPERTY_CRIME_TOTAL
1,ALABAMA,2001,24741,4468912.0,19582.0,173253.0
2,ALASKA,2001,4570,633630.0,3735.0,23160.0
3,ARIZONA,2001,27710,5306966.0,28675.0,293874.0
4,ARKANSAS,2001,11489,2694698.0,12190.0,99106.0
5,CALIFORNIA,2001,157142,34600463.0,212867.0,1134189.0
6,COLORADO,2001,17278,4430989.0,15492.0,170887.0
7,CONNECTICUT,2001,17507,3434602.0,11492.0,95299.0
8,DELAWARE,2001,6841,796599.0,4868.0,27399.0
9,FLORIDA,2001,72404,16373330.0,130713.0,782517.0
10,GEORGIA,2001,45937,8405677.0,41671.0,347872.0
11,HAWAII,2001,5116,1227024.0,3117.0,62830.0
12,IDAHO,2001,5270,1320585.0,3211.0,38181.0
13,ILLINOIS,2001,44348,12520227.0,79270.0,434648.0
14,INDIANA,2001,19646,6126743.0,22734.0,211548.0
15,IOWA,2001,7962,2931967.0,7865.0,88634.0
16,KANSAS,2001,8574,2702125.0,10909.0,105537.0
17,KENTUCKY,2001,10720,4068816.0,10510.0,107356.0
18,LOUISIANA,2001,19660,4470368.0,30678.0,207693.0
19,MAINE,2001,1675,1284470.0,1435.0,33154.0
20,MARYLAND,2001,23739,5386079.0,42088.0,219512.0
21,MASSACHUSETTS,2001,10203,6401164.0,30585.0,167079.0
22,MICHIGAN,2001,48849,10006266.0,55424.0,352353.0
23,MINNESOTA,2001,6406,4984535.0,13145.0,165046.0
24,MISSISSIPPI,2001,15131,2859733.0,10006.0,109609.0
25,MISSOURI,2001,28575,5637309.0,30472.0,238411.0
26,MONTANA,2001,2795,905382.0,3187.0,30175.0
27,NEBRASKA,2001,3915,1720039.0,5214.0,68963.0
28,NEVADA,2001,9862,2097722.0,12359.0,77486.0
29,NEW HAMPSHIRE,2001,2419,1259359.0,2144.0,27089.0
30,NEW JERSEY,2001,26052,8511116.0,33094.0,240551.0
...,...,...,...,...,...,...
786,MASSACHUSETTS,2016,9038,6823721.0,25975.0,106430.0
787,MICHIGAN,2016,41122,9933445.0,45782.0,190249.0
788,MINNESOTA,2016,9509,5525050.0,13365.0,117723.0
789,MISSISSIPPI,2016,13720,2985415.0,8411.0,82521.0
790,MISSOURI,2016,32427,6091176.0,31720.0,170661.0
791,MONTANA,2016,3199,1038656.0,3886.0,28156.0
792,NEBRASKA,2016,5167,1907603.0,5661.0,43197.0
793,NEVADA,2016,13932,2939254.0,19924.0,75922.0
794,NEW HAMPSHIRE,2016,2599,1335015.0,2668.0,20323.0
795,NEW JERSEY,2016,19458,8978416.0,21861.0,138012.0
796,NEW MEXICO,2016,6996,2085432.0,14585.0,81930.0
797,NEW YORK,2016,50611,19836286.0,74315.0,305224.0
798,NORTH CAROLINA,2016,35970,10156689.0,37767.0,277765.0
799,NORTH DAKOTA,2016,1639,755548.0,1905.0,17451.0
800,OHIO,2016,52172,11622554.0,35759.0,300945.0
801,OKLAHOMA,2016,26367,3921207.0,17855.0,118010.0
802,OREGON,2016,14579,4085989.0,10983.0,121716.0
803,PENNSYLVANIA,2016,48287,12787085.0,40389.0,222394.0
804,RHODE ISLAND,2016,2887,1057566.0,2529.0,18910.0
805,SOUTH CAROLINA,2016,20376,4959822.0,25137.0,161534.0
806,SOUTH DAKOTA,2016,3770,861542.0,3636.0,17207.0
807,TENNESSEE,2016,21539,6649404.0,42459.0,191199.0
808,TEXAS,2016,151276,27904862.0,121064.0,769892.0
809,UTAH,2016,4502,3044321.0,7406.0,90561.0
810,VERMONT,2016,1735,623354.0,851.0,9705.0
811,VIRGINIA,2016,29882,8414380.0,18495.0,157292.0
812,WASHINGTON,2016,17228,7280934.0,22101.0,254994.0
813,WEST VIRGINIA,2016,5899,1828637.0,6633.0,37282.0
814,WISCONSIN,2016,23163,5772917.0,17716.0,111911.0
815,WYOMING,2016,2352,584910.0,1431.0,11460.0

In [ ]:
## Read in the Education Data

In [9]:
education_file = "../Data/education_data/states_all.csv"
education_df = pd.read_csv(education_file)
display(education_df.head())
display(education_df.columns)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859713
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G',
       'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G',
       'GRADES_9_12_G', 'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE',
       'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE'],
      dtype='object')

#### Notes on what some of the columns mean: 

* <b>Academic Achievement -  National Assessment of Educational Progress (NAEP)</b><br>
A breakdown of student performance as assessed by the corresponding exams (math and reading, grades 4 and 8).<br><br>

* <b>AVG_MATH_4_SCORE:</b> The state's average score for fourth graders taking the NAEP math exam.
* <b>AVG_MATH_8_SCORE:</b> The state's average score for eight graders taking the NAEP math exam.
* <b>AVG_READING_4_SCORE:</b> The state's average score for fourth graders taking the NAEP reading exam.
* <b>AVG_READING_8_SCORE:</b> The state's average score for eighth graders taking the NAEP reading exam.